.chatNav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px; }
  .chatNav button {
    margin: 0 3px; }
  .chatNav .chatSearchIcon {
    margin: 0 5px;
    font-size: 35px;
    color: lightblue; }
  .chatNav .chatSearchIcon:hover {
    cursor: pointer; }

.chatSearchBox {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px; }
  .chatSearchBox .chatSearch {
    height: 40px; }

.chatList {
  display: inline-flex;
  flex-direction: column; }
  .chatList .btn {
    margin: 15px;
    border: none; }
    .chatList .btn .chatTitle {
      font-weight: 600;
      font-size: 1.6em;
      margin: 0; }
