.job-box {

  margin: 2em;
  overflow: hidden;

  .job-title {
    color: red;
  }

  button{
    margin: 10px auto;
  }

  .job-body {
    p {
      margin: 0
    }
  }

}

.event {
  display: flex;
  flex-direction: column;
  .buttonGroup {
    margin-bottom: 15px;
  }
  .jobList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .eventItem {
      margin: 10px;
      .jobCard {
        transition: all 0.3s;
        opacity: 0.75;
        width: 325px;
        height: 197px;
        background-color: #e6e6e8;
        border-radius: 10px;
      }
      .fa {
        font-size: 1.5em;
      }
    }
    .eventItem:hover .jobCard {
      opacity: 1;
      width: 332px;
      height: 204px;
    }
  }
}

